<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: header">...</div>

    <h1>Code Fellows</h1>
    <h3>Welcome, <span th:text="${principal.username}"></span></h3>
    <p>First Name: <span th:text="${principal.firstName}"></span></p>
    <p>Last Name: <span th:text="${principal.lastName}"></span></p>
    <p>Bio: <span th:text="${principal.bio}"></span></p>
    <img th:src="@{/images/profile_image.jpg}" alt="image" width="100px"><br>

    <h4>Your Posts</h4>
    <ul>
        <li th:each="post : ${principal.posts}">
<!--            <a th:href="'/posts/' + ${post.id}">-->
                <span th:text="${post.body}"></span>, at <span th:text="${post.createAt}"></span>
<!--            </a>-->
        </li>
    </ul>

</body>
</html>