<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" />
</head>
<body>

    <h1>Code Fellows</h1>
    <h3>Welcome, <span th:text="${principal.username}"></span></h3>
    <p>First Name: <span th:text="${principal.firstName}"></span></p>
    <p>Last Name: <span th:text="${principal.lastName}"></span></p>
    <p>Bio: <span th:text="${principal.bio}"></span></p>
    <img th:src="@{/images/profile_image.jpg}" alt="image" width="100px"><br>

    <a href="/logout">Sign Out</a>

</body>
</html>