<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <h1>News Feed of <span th:text="${current.firstName}"></span></h1>

    <ul>
        <li th:each="userfollow: ${current.following}">
            Post from <span th:text="${userfollow.firstName}"></span>
            <ul>
                <li th:each="post:${userfollow.getPosts()}">
                    <span th:text="${post.body}"></span> at <span th:text="${post.createAt}"></span>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>

