<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Individual Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" />
    <p><span th:text="${principal}"></span></p>
</head>
<body>

<h1> Here is the <span th:text="${userinfo.username}"></span></h1>
<p><span th:text="${userinfo.firstName}"></span></p>
<p><span th:text="${userinfo.lastName}"></span></p>
<p><span th:text="${userinfo.bio}"></span></p>
<img th:src="@{/images/profile_image.jpg}" alt="image" width="100px"><br>

<h4>Posts</h4>
<ul>
    <li th:each="post : ${userinfo.posts}">
        <!--            <a th:href="'/posts/' + ${post.id}">-->
        <span th:text="${post.body}"></span>, a <span th:text="${post.createAt}"></span>
        <!--            </a>-->
    </li>
</ul>

</body>
</html>