<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="POST">
        Username:<br>
        <input type="text" name="username" required>
        <br>

        Password:<br>
        <input type="password" name="password" required>
        <br>

        First Name:<br>
        <input type="text" name="firstname" required>
        <br>

        Last Name:<br>
        <input type="text" name="lastname" required>
        <br>

        Date of Birth:<br>
        <input type="date" name="birthday" required>
        <br>

        Bio:<br>
        <textarea rows="4" cols="50" input type="text" name="bio" required></textarea>
        <br>

        <input type="submit" value="Submit">
    </form></br>
</body>
</html>